footer {
  position: relative;
  font-family: Lato;
  display: flex;
  background-color: #333333;
  color: #BEBEBE;
  padding: 30px;
}

footer section {
  padding: 10px;
}

footer section label {
  font-size: 20pt;
  font-weight: bold;
}

footer section p {
  font-size: 12pt;
}

footer section li {
  margin-bottom: 4px;
}

footer section li a {
  text-decoration: none;
  font-size: 12pt;
}

footer section li a:visited {
  color: #BEBEBE;
}

footer section li a:hover {
  color: #46AB72;
}

footer section p {
  margin-bottom: 4px;
}

footer p#copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
}