@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Bold.ttf),
       url(fonts/Lato-Medium.ttf),
       url(fonts/Lato-Regular.ttf);
}

body {
  margin: 0;
}

footer {
  font-family: Lato;
  display: flex;
  background-color: #333333;
  color: white;
}