main {
  display: inline-block;
  padding: 30px;
  text-align: center;
  font-family: Lato;
  color: #323232;
}

main summary {
  padding-left: 10%;
  padding-right: 10%;
}

main summary h3 {
  font-weight: bold;
  font-size: 24pt;
  padding-bottom: 20px;
}

main p {
  font-size: 16pt;
}

main section {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

main section figure {
  justify-content: space-between;
  align-items: center;
}

main section figure img {
  width: 250px;
  height: auto;
}